<!DOCTYPE html>
<html>
<head>
        <title>Ant Colony Optimization</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">


</head>
<body>
    <h1>Ant Colony Optimization</h1>
        <form method="POST" action="/plot" enctype="multipart/form-data">
            <label for="file">City coordinates file:</label>
            <input type="file" id="file" name="file"><br>

            <input type="submit" value="Submit">
        </form>
</body>
</html>